<!DOCTYPE html>
<html>
<head>
    <title>Song Recommender</title>
    <link rel="stylesheet" type="text/css" href="static/styles/main_styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="title">
    <h1 > Song Recommender</h1>
</div> 
<div class="content">
    {% block content %}
        <h2>{% block title %} Select a playlist: {% endblock %}</h2>
        {% for name in playlists %}
            <div class="playlist">
                {% if name[0]|length > 40 %}
                    <a href="/main/{{ name[1] }}"> <img src="{{ name[2] }}"> <p><strong style="margin-left: 10px;"> {{ name[0][:40] }}... </strong><small>{{ name[3] }} songs </small></p></a>
                {% else %}
                    <a href="/main/{{ name[1] }}"> <img src="{{ name[2] }}"> <p> <strong style="margin-left: 10px;"> {{ name[0] }} </strong><br><small> {{ name[3] }} songs </small></p></a>
                {% endif %}
            </div>
        {% endfor %}
    {% endblock %}
</div>
</body>
</html>
